body {margin: 0;}
* {box-sizing: border-box;}

.ui-sortable {
  min-height: 80px;
}
.btn-delete {
  position: absolute;
  right: 0;
  top: 0;
  width: 22px;
  height: 22px;
  border: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
}

.board h1 {
  margin-left: 8px;
}
.column-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  order: 1;
  min-width: 300px;
  min-height: 50vh;
  background-color: lightgrey;
  margin-left: 8px;
  list-style: none;
  position: relative;
}
.column-title {
  margin: 0 0 5vh 5vh;
}
.column-add-card {
  cursor: pointer;
  text-decoration: underline;
  margin: 5px 8px;
  display: block;
  background: linear-gradient(90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(0, 0, 0, 0.2) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4),
  inset 0 0 2px rgba(255, 255, 255, 0.8);
  border-style: groove;
}
.create-column {
  margin: 0 0 5vh 5vh;
  background: linear-gradient(90deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(0, 0, 0, 0.2) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4),
  inset 0 0 2px rgba(255, 255, 255, 0.8);
  border-style: groove;
}

.card {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  padding: 4px;
  overflow: hidden;
  position: relative;
}
.card-list {
  list-style: none;
  margin: 5px;
  padding: 0px;
}
.card-description {
  margin: 2px 0;
}
.card-placeholder {
  box-sizing: border-box;
  display: block;
  height: 60px;
  margin-bottom: 5px;
  border: 2px solid lightgrey;
  background-color: lightblue;
}
