@import url('https://fonts.googleapis.com/css?family=Share+Tech|Ubuntu');

$font-main: 'Ubuntu', sans-serif;
$font-header: 'Share Tech', sans-serif;
$white: #FFF;
$black: #000;
$background: #cacaca;
$background-header: #e9ecf1;
$background-opacity: rgba(0,0,0,.18);
$background-card: rgb(164, 181, 236);
$box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);

@mixin flex-direction($direction) {
  -webkit-box-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}
@mixin justify-content($justify) {
  -webkit-box-pack: $justify;
      -ms-flex-pack: $justify;
          justify-content: $justify;
}
@mixin align-items($align) {
-webkit-box-align: $align;
    -ms-flex-align: $align;
        align-items: $align;
}

@mixin flex-wrap($wrap) {
  -ms-flex-wrap: $wrap;
      flex-wrap: $wrap;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
        box-shadow: $shadow;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-center {
  -webkit-box-orient: horizontal;
  @include flex-direction(row);
  @include align-items(center);
}

body {
  font-size: .6rem;
  max-width: 100%;
  margin: 0 auto;
  background-color: $background;
  font-family: $font-main;
}

ul {
  list-style: none;
}

button {
  @include box-shadow($box-shadow);
  background-color: $white;
  color: $black;
  border: none;
  border-radius: 3%;
  margin: 0 .2rem;
  text-transform: uppercase;
  font-family: $font-header;
}

button:hover {
  background-color: $black;
  color: $white;
}

a {
  text-decoration: none;
  color: $black;
}

// a:hover {
//   color: $white;
//   background-color: $black;
// }

p {
  max-width: 20vw;
  overflow-x: auto;
}

input[type=color] {
  display: none;
}

select {
  appearance: none;
}

.head {
  @extend .flex;
  @include justify-content(space-between);
  flex-direction: row;
}

.kanban-head {
  @extend .row-center;
  @extend .flex;
  @include justify-content(space-between);
  @include box-shadow($box-shadow);
  background-color: $background-header;  
  max-height: 2.5rem;
  color: $black;
  padding: .2rem;
  font-family: 'Share Tech';
  font-size: 1.2rem;
  opacity: .8;
  position: fixed;
  margin: -2rem auto 0 auto;
  width: 100%;
}

.kanban-head h1,
.kanban-head h1:hover {
  @extend .flex;
  justify-content: center;
  font-size: .8rem;   
  color: $black;
  margin-left: 20vw;
}

.head-nav {
  @extend .flex;
  @extend .row-center;
  @include justify-content(flex-end);
}

.head-color {
  @extend .flex;
  @extend .row-center;
  width: 20vh;
  @include justify-content(center); 
  border-radius: 5px;
  background-color: $background-opacity;
  padding: 1vh;
  span {
    font-size: .5em;
  }
}

.board {
  @extend .flex;
  -webkit-box-orient: vertical;
  @include flex-direction(column);
  margin: 2rem auto 0 auto;
}

//dropdown menu 

.head-nav {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
  right: 20%;
  min-width: 5.5rem;    
}

.dropdown-container {
  @include box-shadow($box-shadow);
  display: none;
  position: absolute;
  width: 100%;
  top: 1rem;
  margin: 0;
  padding: 0;
  background-color: rgba(255,255,255,.85);
  text-align: center;
}

.dropdown-container-level2 {
  display: none;
  position: absolute;
  left: 3rem;
  top: 1.5rem;
  width: 80%;  
}

.dropdown-btn {
  width: 100%;
  margin: 0;  
}

.dropdown-col {
  z-index: 1;
}

.dropdown-link {
  @extend .flex;  
  justify-content: center;
  align-items: center;
  font-size: .6rem;
  font-weight: normal;  
  line-height: 1.5rem; 
  text-transform: uppercase;
  font-family: $font-header; 
}

.dropdown-list:hover .dropdown-link,
.dropdown-list:hover {
  background-color: $black;
  color: $white;
  cursor: pointer;
}

.dropdown-list:hover .dropdown-link-background {
  background-color: $white;
  color: $black;
  z-index: 10;
}

.dropdown-link-background {
  @extend .dropdown-link;  
}

.dropdown-list .dropdown-container-level2 .dropdown-link-background:hover,
.dropdown-list .dropdown-container-level2 .dropdown-link-background:hover a {
  background-color: $black;
  color: $white;
  cursor: pointer;
}

//columns

.column-container {
  @extend .flex;
  -webkit-box-orient: horizontal;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  height: 100vh;  
}

.column {
  @extend .flex;
  -webkit-box-orient: vertical;
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include box-shadow(inset $box-shadow);
  margin: 5vh 5vw;
  min-width: 20vw;    
  border-radius: 2%;
  background: $background-opacity; 
  padding: .4rem;
}

.column-head {  
  @extend .flex;
  @extend .row-center; 
  justify-content: space-between; 
  font-size: .8rem;  
}

.column-title {
  @extend .flex;
  display: inline;
  line-height: 3rem;
  min-width: 2rem;
}

.column-nav {
  @extend .flex;
  display: inline-block;
  max-width: 6rem;
  right: 0;  
}

.column-card-list {
  @extend .flex;
  -webkit-box-orient: vertical;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  padding-left: 0;
  min-height: 20vh;
}

// cards

.card {
  @extend .flex;
  -webkit-box-orient: vertical;
  @include flex-direction(column);
  @include justify-content(flex-end);
  @include box-shadow($box-shadow);
  background-color: $background-card;  
  border-radius: 3%;
  padding: 1rem;
  font-size: .7rem;
  width: 80%;
  margin-bottom: 1rem; 
}

.card-nav {
  visibility: hidden;
  right: 0;
}

.card-placeholder {
  @include box-shadow(inset $box-shadow);
  background: $background-opacity;  
}
